asgiref==3.7.2
Django==4.2
django-anymail==9.1
django-ckeditor==6.7.0
django-ckeditor-5==0.2.10
django-cors-headers==3.14.0
django-dotenv==1.4.2
django-environ==0.9.0
django-import-export==3.2.0
django-jazzmin==2.6.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.7
humanize==4.6.0
requests==2.31.0
shortuuid==1.0.11
sqlparse==0.4.4
tzdata==2023.3

# Tambahan penting
psycopg2-binary==2.9.9  # atau mysqlclient==2.2.4
celery==5.3.6
redis==5.0.3
django-redis==5.4.0
pytz==2024.1
python-slugify==8.0.1

# (Opsional)
pytest==8.2.0
pytest-django==4.8.0
ipython==8.24.0
